.welcome-page{
  h2, h4{
    color: black;
    text-shadow: 1px 1px #C1C8E4;
    font-family: sans-serif;
  }
  .logo-container{
    text-align: center;
    .angular-logo-img{
      height: 100px;
      width: 100px;
    }
  }
  h4{
    text-align: center;
  }
}

.topic-select{
  font-family: serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .quiz-category{
    background-color: #5680E9;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gray;
    color: white;
    font-size: 18px;
    padding: 15px;
    transition: all .2s ease-in-out;
    margin: 30px;
    &:hover{
      // scale/grow & increase brightness/change shadow color
      cursor: pointer;
      box-shadow: 4px 4px 4px 4px gray;
      transform: scale(1.1)
    }
  }
}

.test{
  color: #5680E9;
  color: #84CEEB;
  color: #5AB9EA;
  color: #C1C8E4;
  color: #8860D0;
}
