<div class="quiz-wrapper" *ngIf="quizState$ | async as quizState">
  <div *ngIf="isLoading" class="loading-wrapper">
    <div class="loading-spinner">
      <span>Loading...</span>
    </div>
  </div>
  <div *ngIf="!isLoading" class="quiz-page">
    <h2 class="quiz-title">{{ categoryName | titlecase}} </h2>

    <div class="question-grid">
        <div *ngFor="let question of quizQuestions" class="question-card">
          <app-question [question]="question" [quizState]="quizState"></app-question>
        </div>
    </div>
  </div>

  <div class="submit-retake-btn">
    <button *ngIf="!isLoading" class="submit-btn" [disabled]="isLoading && isUnfinished" (click)="submitQuiz()">
      {{ quizState.isSubmitted ? 'Try Another Quiz' : 'SUBMIT'}}
    </button>
  </div>

</div>

<app-results-modal *ngIf="quizState$ | async as quizState" [quizState]="quizState">

</app-results-modal>
