.question-card{
  background-color: rgb(255, 255, 255, 0.75);
  border: 1px solid black;
  border-radius: 45px;
  font-family: serif;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  &.incorrect{
    border: 2px solid red;
  }
  &.correct{
    border:2px solid green;
  }
  span{
    margin-left: -5px;
    font-size: 18px;
  }
  .answers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    .answer.correct{
      border-radius: 5px;
      background-color: green
    }
    .answer.incorrect{
      border-radius: 5px;
      background-color: red;
    }
    li {
      list-style-type: none;
    }
  }
}
